@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat'
}

:root {
	--main: #222;
	--main2: #333;
	--secondary: #eee;
	--secondary2: #dddddd
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--secondary);
	color: var(--main)
}

button {
	outline: none;
	border: none;
	font-weight: 300;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 400ms ease
}

button.btn-regular {
	padding: 0.9rem 2rem;
	color: var(--secondary);
	background-color: var(--main)
}

button.btn-regular:hover {
	background-color: var(--main2)
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4vh 5vw
}

@media (max-width: 37.4375em) {
	header {
		padding: 4vh 7vw
	}
}

header .logo {
	cursor: pointer;
	border: 1px solid var(--main);
	font-weight: 300;
	font-size: 1.4rem;
	padding: 0.1rem 0.5rem;
	border-radius: 3px;
	transition: background-color 400ms ease-in-out
}

header .logo:hover {
	background-color: var(--secondary2)
}

header .menu .ham-burger {
	position: relative;
	z-index: 5;
	height: 23px;
	width: 30px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	flex-direction: column
}

header .menu .ham-burger.fixed {
	position: fixed;
	top: 4.6vh;
	right: 5vw
}

@media (max-width: 37.4375em) {
	header .menu .ham-burger.fixed {
		right: 7vw
	}
}

header .menu .ham-burger span {
	display: block;
	background-color: var(--main);
	height: 2px;
	width: 100%;
	border-radius: 10px;
	transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
	transform-origin: 0px center
}

header .menu .ham-burger.open span:nth-child(1) {
	transform: rotate(45deg)
}

header .menu .ham-burger.open span:nth-child(2) {
	opacity: 0
}

header .menu .ham-burger.open span:nth-child(3) {
	transform: rotate(-45deg)
}

header .menu nav ul {
	display: flex;
	align-items: center;
	list-style: none
}

header .menu nav ul li a {
	text-decoration: none;
	color: inherit;
	font-weight: 400
}

header .menu nav.desktop ul li.active a span {
	opacity: 1 !important
}

header .menu nav.desktop ul li a span {
	display: block;
	width: 100%;
	height: 2.5px;
	background-color: var(--main);
	margin-top: 0.08rem;
	opacity: 0.2;
	transition: opacity 500ms ease-in-out
}

header .menu nav.desktop ul li a:hover span {
	opacity: 1
}

header .menu nav.desktop ul li:not(:last-child) {
	margin-right: 2vw
}

header .menu nav.mobile {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
	transition: opacity 300ms ease-in-out;
	display: none;
	opacity: 0
}

header .menu nav.mobile.open {
	opacity: 1
}

header .menu nav.mobile ul {
	flex-direction: column
}

header .menu nav.mobile ul li a span {
	display: none
}

header .menu nav.mobile ul li:not(:last-child) {
	margin-bottom: 5vh
}

main {
	padding: 0 5vw;
	transition: opacity 400ms ease-in;
	width: 100%
}

main .content {
	padding-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	--imageResolution: 320px
}

@media (min-width: 64.01em) {
	main .content {
		padding-top: 10vh
	}
}

@media screen and (max-width: 330px) {
	main .content {
		--imageResolution: 95%
	}
}

main .content .whoami__wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	height: var(--imageResolution);
	width: 95%
}

@media (min-width: 37.5em) {
	main .content .whoami__wrapper {
		width: 90%
	}
}

@media (min-width: 64.01em) {
	main .content .whoami__wrapper {
		width: 55%
	}
}

@media screen and (min-width: 1070px) and (max-width: 1500px) {
	main .content .whoami__wrapper {
		width: 80%
	}
}

main .content .whoami__image {
	width: var(--imageResolution) !important;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 4px 10px 45px rgba(0, 0, 0, 0.2);
	margin-right: 1.5rem
}

@media (max-width: 37.4375em) {
	main .content .whoami__image {
		margin-right: 0;
		margin-bottom: 1rem
	}
}

main .content .whoami__image img {
	height: 100%;
	width: 100%
}

main .content .whoami__description {
	padding-top: 0.5rem;
	flex: 1
}

main .content .whoami__description__actual {
	margin-bottom: 2rem
}

main .content .whoami__description__actual h1 {
	font-size: 2.7rem;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 0.5rem
}

main .content .whoami__description__footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 5rem
}

main .content .whoami__description__footer p {
	margin-right: 1.5rem;
	font-weight: 400
}

@media (max-width: 37.4375em) {
	main .content .whoami__description__footer {
		flex-direction: column;
		justify-content: center
	}
	main .content .whoami__description__footer p {
		margin: 0;
		margin-bottom: 1rem
	}
}

main .btn {
	color: #ffffff;
	padding: 0.8rem;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	font-weight: 400;
	display: block;
	width: 100%;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: transparent
}

main .btn:hover {
	background-color: rgba(255, 255, 255, 0.12)
}

@media (min-width: 64.01em) {
	.hide-for-desktop {
		display: none !important
	}
}

@media (max-width: 64em) {
	.hide-for-mobile {
		display: none !important
	}
}



main .visi .btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
  }
  main .visi .btn--block {
    display: block;
    width: 100%;
  }
  main .visi .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  main .visi .cards__item {
    display: flex;
    padding: 1rem;
  }
  @media (min-width: 40rem) {
    main .visi .cards__item {
      width: 50%;
    }
  }
  @media (min-width: 56rem) {
    main .visi .cards__item {
      width: 33.3333%;
    }
  }
  main .visi .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  main .visi .card:hover .card__image {
    filter: contrast(100%);
  }
  main .visi .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  main .visi .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  }
  main .visi .card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    main .visi .card__image::before {
      padding-top: 66.6%;
    }
  }
  main .visi .card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  main .visi .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }

  .abt {
	width: 300px;
	min-height: 90px;
	border: 1px solid black;
	padding: 15px;
  }
  
  
  .abt p {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
  }
  
  .abt h2 {
	font-size: 14px;
	font-family: "Archivo Black", "Archivo", sans-serif;
	font-weight: normal;
  }
  