@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@mixin mobile {
	@media (max-width: 37.4375em) { @content; }	//599px
}
@mixin tablet {
	@media (min-width: 37.5em) { @content; }	// 600px
}
@mixin notDesktop {
	@media (max-width: 64em) { @content; }
}
@mixin desktop {
	@media (min-width: 64.01em) { @content; }	// 1024px
}
@mixin hugeScreens {
	@media (min-width: 120.0625em) { @content; }	// 1921px
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
:root {
    --main: #222;
    --main2: #333;
    --secondary: #eee;
    --secondary2: #dddddd;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary);
    color: var(--main);
}
button {
    outline: none;
    border: none;
    font-weight: 300;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 400ms ease;
    &.btn {
        &-regular {
            padding: 0.9rem 2rem;
            color: var(--secondary);
            background-color: var(--main);
            &:hover {
                background-color: var(--main2)
            }
        }
    }
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 5vw;
    @include mobile {
        padding: 4vh 7vw;
    }
    .logo {
        cursor: pointer;
        border: 1px solid var(--main);
        font-weight: 300;
        font-size: 1.4rem;
        padding: 0.1rem 0.5rem;
        border-radius: 3px;
        transition: background-color 400ms ease-in-out;
        &:hover {
            background-color: var(--secondary2);
        }
    }   
    .menu {
        .ham-burger {
            position: relative;
            &.fixed {
                position: fixed;
                top: 4.6vh;
                right: 5vw;
                @include mobile {
                    right: 7vw;
                }
            }
            z-index: 5;
            height: 23px;
            width: 30px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            span {
                display: block;
                background-color: var(--main);
                height: 2px;
                width: 100%;
                border-radius: 10px;
                transition: transform 400ms ease-in-out,
                            opacity 400ms ease-in-out;
                transform-origin: 0px center;
            }
            &.open {
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg)
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg)
                    }
                }
            }
        }
        nav {
            ul {
                display: flex;
                align-items:center;
                list-style: none;
                li {
                    a {
                        text-decoration: none;
                        color: inherit;
                        font-weight: 400;
                    }
                }
            }
            &.desktop {
                ul {
                    li {
                        &.active a span {
                            opacity: 1!important;
                        }
                        a {
                            span {
                                display:block;
                                width: 100%;
                                height: 2.5px;
                                background-color: var(--main);
                                margin-top: 0.08rem;
                                opacity: 0.2;
                                transition: opacity 500ms ease-in-out;
                            }
                            &:hover {
                                span {
                                    opacity: 1;
                                }
                            }
                        }
                        &:not(:last-child) {
                            margin-right: 2vw;
                        }
                    }
                }
            }
            &.mobile {
                position: fixed;
                z-index: 4;
                top: 0; left: 0; right: 0; bottom: 0;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary);
                transition: opacity 300ms ease-in-out;
                display: none;
                opacity: 0;
                &.open {
                    opacity: 1;
                }
                ul {
                    flex-direction: column;
                    li {
                        a {
                            span {
                                display: none;
                            }
                        }
                        &:not(:last-child) {
                            margin-bottom: 5vh;
                        }
                    }
                }
            }
        }
    }
}

main {
    padding: 0 5vw;
    transition: opacity 400ms ease-in;
    width: 100%;
    .content {
        padding-top: 5vh;
        @include desktop {
            padding-top: 10vh;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        --imageResolution: 320px;
        @media screen and (max-width: 330px) {
            --imageResolution: 95%;
        }
        .whoami {
            &__wrapper {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
                height: var(--imageResolution);
                width: 95%;
                @include tablet {
                    width: 90%;
                }
                @include desktop {
                    width: 55%;
                }
                @media screen and (min-width: 1070px) and (max-width: 1500px) {
                    width: 80%;
                }
            }
            &__image {
                width: var(--imageResolution)!important;
                height: auto;
                display:flex;align-items:center;
                justify-content: center;
                overflow: hidden;
                border-radius: 8px;
                box-shadow: 4px 10px 45px rgba(0, 0, 0, 0.2);
                margin-right: 1.5rem;
                @include mobile {
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
                img {
                    height: 100%;width: 100%;
                }
            }
            &__description {
                padding-top: 0.5rem;
                flex: 1;
                &__actual {
                    margin-bottom: 2rem;
                    h1 {
                        font-size: 2.7rem;
                        font-weight: 700;
                        letter-spacing: 1px;
                        margin-bottom: 0.5rem;
                    }
                }
                &__footer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-bottom: 5rem;
                    p {
                        margin-right: 1.5rem;
                        font-weight: 400;
                    }
                    @include mobile {
                        flex-direction: column;
                        justify-content: center;
                        p {
                            margin: 0;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
    .btn {
        color: #ffffff;
        padding: 0.8rem;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;
      }
      .btn:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }
      
      .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .cards_item {
        display: flex;
        padding: 1rem;
      }
      
      @media (min-width: 40rem) {
        .cards_item {
          width: 50%;
        }
      }
      
      @media (min-width: 56rem) {
        .cards_item {
          width: 33.3333%;
        }
      }
      .card_image {
        img {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
          }
      }
      .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      
      .card_content {
        padding: 1rem;
        background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
      }
      
      .card_title {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0px;
      }
      
      .card_text {
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;    
        font-weight: 400;
      }
}

.hide-for-desktop {
    @include desktop {
        display: none!important;
    }
}

.hide-for-mobile {
    @include notDesktop {
        display: none!important;
    }
}